.generate-screnotp-wrap {
    height: 100vh;
    padding: 20px 53px 20px;
}
.logo-wrap {
    margin-bottom: 30px;
}
.img-wrapper img {
    width: 450px;
}
.lensometer-wrap {
    padding: 10px 53px 30px;
}
